<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Greenhouse Control</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="menu">
			<h1>Greenhouse Control</h1>
			<a href="../php/flowerpedia.php">
				<h2 class="bouton">Flowerpedia</h2>
			</a>
		</div>
		<div
			id="plantes">{# Les plantes seront ajoutées ici dynamiquement #}
		</div>
		<script src="../javascript/script.js"></script>
	</body>
</html>
