body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
  background-image: url("../image1.jpeg");
  background-size: cover; /* Couvrir tout l'espace disponible */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
}

h1 {
  color: #ffffff;
  background-color: black;
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}

.bouton {
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
  background-color: #008cba;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bouton:hover {
  background-color: #005f6b;
}
.menu {
  display: inline-grid;
  justify-content: space-between;
}
.plant-list {
  list-style: none;
  padding: 0;
}

.plant-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.plant-image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}
.info-table-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.plant-info, table {
  margin: 0;
  padding: 0;
  width: calc(50% - 10px); /* Adjusts width to half of the container minus some margin */
}

.plant-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Aligns items at the start of the flex container */
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.plant-image {
  flex-basis: 100px; /* Image width */
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  margin-left: 20px; /* Adds spacing between the table and the plant-info */
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .plant-item {
      align-items: center;
  }

  .plant-image {
      margin-right: 20px;
  }

  .info-table-container {
      flex-grow: 1;
  }
}
