body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
  background-image: url("../image1.jpeg");
  background-size: cover; /* Couvrir tout l'espace disponible */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
}

h1 {
  color: #ffffff;
  background-color: black;
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}

.bouton {
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
  background-color: #008cba;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bouton:hover {
  background-color: #005f6b;
}
.menu {
  display: inline-grid;
  justify-content: space-between;
}
.plant-list {
  list-style: none;
  padding: 0;
}

.plant-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.plant-image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.plant-info {
  line-height: 1.6;
}

.plant-label {
  font-weight: bold;
}